{
  "port": {{ nodejs_port }},
  "database": {
    "host": "{{ mysql_host }}",
    "user": "{{ mysql_user_name }}",
    "password": "{{ mysql_user_password }}",
    "name": "{{ mysql_database_name }}"
  }
}
